<script lang="ts">
import { Ref, ref, reactive, onMounted, watch } from "vue"
import cvsPoints from '../assets/convenience.json'
import img01 from '../assets/711.png'
import img02 from '../assets/family.png'
import img03 from '../assets/okMart.png'
import img04 from '../assets/hiLife.png'


//for TS
import { defineComponent } from 'vue'

export default defineComponent({
    setup() {
        const iconList = [img01, img02, img03, img04]
        let icon = iconList[0]
        let map: google.maps.Map;
        // let map = ref(null)
        let lat: Ref<number> = ref(24.13808)
        let lng: Ref<number> = ref(120.68685)
        interface points {
            id: string
            name: string
            lat: number
            lng: number
            address: string
        }
        let points: Ref<points[]> = ref([])
        interface mapData {
            center: object
            lacation: points[]
        }
        let mapData: mapData = reactive({
            center: {
                lat: lat.value,
                lng: lng.value
            },
            lacation: points
        })
        //處理json資料
        interface jsonData {
            numbersID_: string
            name: string
            numbersID: string
            name_: string
            address: string
            Latitude: string
            Longitude: string
        }
        const data = cvsPoints
        const sevenStore = data.filter(item => item.name.includes('統一'))
        const familyStore = data.filter(item => item.name.includes('全家'))
        const okStore = data.filter(item => item.name.includes('來來'))
        const hiStore = data.filter(item => item.name.includes('萊爾富'))
        let showPoint: Ref<jsonData[]> = ref([])
        // console.log(hiStore)

        //預設值
        let picked = ref('sevenStore')
        showPoint.value = sevenStore
        // 地點位置
        const getPoints = () => {
            mapData.lacation = []
            showPoint.value.forEach((item: jsonData) => {
                mapData.lacation.push({
                    id: item.numbersID,
                    name: item.name,
                    lat: parseFloat(item.Latitude),
                    lng: parseFloat(item.Longitude),
                    address: item.address
                })
            })
            // console.log(mapData.lacation)
        }

        //建立地圖
        const initMap = (lat: number, lng: number) => {
            map = new google.maps.Map(document.getElementById("map") as HTMLElement, {
                center: { lat, lng },
                zoom: 15,
                maxZoom: 20,
                minZoom: 3,
                streetViewControl: false,
                mapTypeControl: false
            });
            return map
        }


        // 建立地標
        const setMarker = () => {
            // 為每間餐廳都建立地標、訊息視窗、事件監聽
            mapData.lacation.forEach((item) => {
                const marker = new google.maps.Marker({
                    position: { lat: item.lat, lng: item.lng },
                    map: map,
                    icon: icon
                });

                // 訊息視窗
                const infowindow = new google.maps.InfoWindow({
                    content: `
                        <div id="content">
                            <p class="infoHeader" style="color:#3F3F3F ; margin:0.2rem; font-size:1rem; font-weight:600;" >${item.name}<img src="${icon}"></p>
                            <p class="infoBody" style="margin:0;font-size:0.75rem; font-weight:400;" v-if="item.address" >
                                統一編號:${item.id}<br>
                                ${item.address}
                                </p>
                        </div>
                        `,
                    maxWidth: 300
                });
                // 綁定點擊事件監聽
                marker.addListener("click", () => {
                    const ele = document.querySelector('.gm-style-iw') as HTMLInputElement
                    // console.log(ele)
                    if (ele) {
                        const eleP = (ele.parentNode as Element).classList
                        document?.querySelector(`.${eleP}`)?.remove()
                    }
                    infowindow.open(map, marker);
                });
            });
        }

        onMounted(() => {
            initMap(lat.value, lng.value)
            getPoints()
            setMarker()
        })
        watch(() => picked.value, () => {
            if (picked.value == "sevenStore") {
                showPoint.value = sevenStore
                icon = iconList[0]
            } else if (picked.value == "familyStore") {
                showPoint.value = familyStore
                icon = iconList[1]
            } else if (picked.value == "okStore") {
                showPoint.value = okStore
                icon = iconList[2]
            } else {
                showPoint.value = hiStore
                icon = iconList[3]
            }
            initMap(lat.value, lng.value)
            getPoints()
            setMarker()
        })

        return { picked, iconList }

    }
})

</script>

<template>
    <div class="container mt-4">
        <h2 class="title">台中超商分佈地圖</h2>
        <ul class="radioArea">
            <input type="radio" id="sevenStore" value="sevenStore" v-model="picked">
            <label for="sevenStore"><img :src=iconList[0] />統一超商</label>
            <input type="radio" id="familyStore" value="familyStore" v-model="picked">
            <label for="familyStore"><img :src=iconList[1] />全家便利商店</label>
            <input type="radio" id="okStore" value="okStore" v-model="picked">
            <label for="okStore"><img :src=iconList[2] />萊爾富便利商店</label>
            <input type="radio" id="hiStore" value="hiStore" v-model="picked">
            <label for="hiStore"><img :src=iconList[3] />OK超商</label>
        </ul>
        <div class="content">
            <!--地圖呈現在此-->
            <div class="google-map" id="map"></div>
        </div>

    </div>
</template>

<style scoped>
.content {
    width: 100%;
    height: 100%;
    /* border: 5px solid blueviolet; */
    overflow: hidden;
    margin-top: -20px;
}

/* .title {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.radioArea {
    /* border: 5px solid blueviolet; */
    font-size: 1.1rem;
    margin-left: -30px;
    margin-bottom: 20px;
}

.google-map {
    width: 100%;
    height: 85vh;
    overflow: hidden;
}
</style>
