<script setup>
import Map from './components/Map.vue'
</script>

<template>
  <div class="mapArea">
    <Map />
  </div>
</template>

<style scoped>
.mapArea {
  /* border: 10px solid red; */
}
</style>
